* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
}

.wrapper {
  background-image: linear-gradient(to right bottom, #051937, #041836, #031735, #021634, #011533);
  color: #F2FAFF;
  min-height: 100vh;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  padding-top: .2em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding-top: 1.5em;
  padding-bottom: .4em;
}

p {
  padding: .1em 0;
}

p.nm {
  margin: 0;
}

a, a:visited {
  color: #68EBB8;
  text-decoration: none;
}

nav ul.dashboard,
nav ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul.navigation {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  font-weight: 200;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav ul.navigation li a {
  color: inherit;
  display: block;
  padding: 30px 15px;
  height: 100%;
}

main {
  padding: 50px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.columns.columns__no-spacing {
  padding: 0;
}

.columns.columns__bigger-v-spacing {
  padding-top: 10px;
  padding-bottom: 10px;
}

.columns.col-center {
  justify-content: center;
}

.column {
  padding: 5px;
}

.columns.columns__no-spacing > .column {
  padding: 0;
}

.column.col-100 { width: 100%; }
.column.col-80 { width: 80%; }
.column.col-75 { width: 75%; }
.column.col-60 { width: 60%; }
.column.col-50 { width: 50%; }
.column.col-40 { width: 40%; }
.column.col-30 { width: 30%; }
.column.col-25 { width: 25%; }
.column.col-20 { width: 20%; }
.column.col-1per3 { width: calc(100% / 3); }
.column.col-2per3 { width: calc(calc(100% / 3) * 2) ; }

.column.offset-100 { margin-left: 100%; }
.column.offset-80 { margin-left: 80%; }
.column.offset-75 { margin-left: 75%; }
.column.offset-60 { margin-left: 60%; }
.column.offset-50 { margin-left: 50%; }
.column.offset-40 { margin-left: 40%; }
.column.offset-30 { margin-left: 30%; }
.column.offset-25 { margin-left: 25%; }
.column.offset-20 { margin-left: 20%; }
.column.offset-1per3 { margin-left: calc(100% / 3); }
.column.offset-2per3 { margin-left: calc(calc(100% / 3) * 2) ; }

header {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
}

.header-logo {
  width: 25%;
}

.header-logo h1,
.header-logo h2,
.header-logo h3,
.header-logo h4,
.header-logo h5,
.header-logo h6 {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-navs {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.footer {
  width: 100%;
  background-color: #0e3570a9;
  text-align: center;
  margin-top: 30px;
  font-size: 17px;
  padding-top: 25px;
}

.footer img {
  margin: 0 5px -5px 0;
  max-width: 30px;
  max-height: 30px;
}

.footer ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.footer-h {
  padding: 10px 20px;
  font-weight: 300;
}

.footers {
  padding: 5px 5px 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-1, .footer-2 {
  width: 50%;
}

.footer-2 h3 {
  display: inline-block;
}

.footer-c {
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  font-size: 11px;
}

.footer hr {
  width: 30%;
  border-width: 1px;
  border-color: #ffffff44;
}

.person-icon {
  margin-bottom: -3px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

div.paper {
  padding: 10px 50px 20px;
  background-color: #FFF;
  color: #424656;
  border-radius: 15px 0 15px 0;
  box-shadow: 20px 20px 60px #071223, -20px -20px 60px #112a4e;
  width: calc(80% - 25px);
  margin-left: 25px;
}

h1.paper-title {
  text-transform: uppercase;
  padding: 15px 0;
  font-weight: 300;
  border-bottom: .4px solid #424656;
}

nav.dashboard-navigation {
  width: calc(20% - 25px);
  margin-right: 25px;
}

nav ul.dashboard {
  padding: 10px;
}

nav ul.dashboard li a {
  display: block;
  color: #F2FAFF;
  text-align: center;
  margin: 10px 0;
  padding: 10px 0;
  width: 100%;
  background-color: #082146;
  border-radius: 15px 0 15px 0;
  box-shadow: 10px 10px 60px #071223, -10px -10px 60px #112a4e;
  font-weight: 200;
  text-transform: uppercase;
}

nav ul.dashboard li a.active {
  background: #68EBB8;
  box-shadow: inset 20px 20px 60px #58c89c, inset -20px -20px 60px #78ffd4;
}

.input--container {
  padding: 8px 0;
}

button, input, select {
  border: 0;
  outline: 0;
  font-size: 16px;
  font-family: inherit;
}

.input--container.rc {
  display: flex;
}

.input--container.rc > .input {
  margin: 5px 5px 0 0;
  width: initial;
}

.input--container.rc > .input--label {
  width: calc(100% - 18px);
}

.input--container > label {
  display: block;
  width: 100%;
}

.input--container > span.input--error {
  color: #F44336;
}

.input--container > input[type='text'],
.input--container > input[type='password'],
.input--container > input[type='email'],
.input--container > input[type='number'],
.input--container > select {
  background-color: #EBECF0;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  text-shadow: 1px 1px 0 #FFF;
  border-radius: 320px;
  transition: all 0.2s ease-in-out;
}

.input--container > select {
  font-family: inherit;
}

.input--container > input[type='text']:focus,
.input--container > input[type='password']:focus,
.input--container > input[type='email']:focus,
.input--container > input[type='number']:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

span.success,
span.error {
  font-size: 1.2em;
  font-weight: 600;
}

span.error {
  color: #F44336;
}

span.success {
  color: #66BB6A;
}

form button {
  background: #68EBB8;
  color: #2D2D2D;
  font-weight: bold;
  box-shadow:  2px 2px 5px #58c89c, -2px -2px 5px #78ffd4;
  transition: all 0.2s ease-in-out;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 50px;
  margin-top: 20px;
  transition: .5s ease-in;
}

form button:active {
  box-shadow: inset 4px 4px 9px #58c89c, inset -4px -4px 9px #78ffd4;
}

form.as-anchor > button {
  color: inherit;
  display: block;
  height: 100%;
  background-color: transparent;
  box-shadow: none;
  font-size: inherit;
  text-transform: inherit;
  font-weight: inherit;
  transition: none;
}

form.as-anchor > button:hover {
  box-shadow: none;
}

table {
  width: 100%;
  overflow-x: auto;
  border-spacing: 0;
}

table td {
  padding: 8px 5px;
  transition: .1s ease-in;
}

table th {
  border-bottom: 1px solid #E0E0E0;
  text-transform: uppercase;
  font-weight: 500;
}

table tr:hover td {
  background-color: rgba(0,0,0,.08);
}

td.no-entries {
  text-align: center;
}

button {
  background: #68EBB8;
  color: #2D2D2D;
  box-shadow:  2px 2px 5px #58c89c, -2px -2px 5px #78ffd4;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 20px;
  margin: 10px 0;
}

table form.as-anchor > button {
  display: inline-block;
  padding: 0;
  margin: 0
}

.action-anchor {
  color: inherit !important;
}

.choice-card--set,
.choice-card--set-v {
  display: flex;
  flex-wrap: wrap;
}

.choice-card--set-v-container {
  display: flex;
}

.choice-card--set-v {
  width: calc(100% / 7);
  align-items: flex-start;
  align-content: flex-start;
  border-right: 1px solid #EFEFEF;
}

.choice-card--set-v:last-child {
  border-right: 0;
}

div.choice-card {
  border: 3px solid #F7F7F7;
  width: calc((100% / 3) - 20px);
  margin: 10px;
  border-radius: 15px 0;
  transition: .08s ease-in;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.choice-card--set-v div.choice-card {
  width: calc((100% / 1) - 20px);
}

div.choice-card.active {
  border: 3px solid #68EBB8;
  background-color: #68EBB8;
}

div.choice-card > .details {
  padding: 10px;
}

div.choice-card > .details > p {
  margin: 0;
}

div.choice-card > .details > h4 {
  padding: 0;
}

div.choice-card img.checked {
  position: absolute;
  top: calc(50% - 10px);
  right: 15px;
  transform: scale(2);
}

.doctor-schedule,
section.choose {
  display: none;
}

h2.schedule-date {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #EFEFEF;
}

.history-status {
  font-size: 1.2em;
}

.reservation-type {
  font-weight: 600;
}

.reservation-type.reserved { color: #2196F3; }
.reservation-type.done { color: #43A047; }
.reservation-type.cancelled { color: #D32F2F; }
.covid-info {
  font-size: 18px;
  padding: 50px;
}

.covid-info .content {
  display: flex;
  margin: 50px 0;
}

.covid-info-issue {
  margin: 100px 0;
}

#sympt img {
  margin-left: -24px;
}
